//- 
    Student Info: Name=Sujita Pokharel, ID=14105
    Subject: CS557A_HW6_Spring_2016
    Author: Suju
    Filename: signup_confirm.jade
    Date and Time: Apr 7, 2016 12:51:06 PM 
    Project Name: CS557_HW06_Spring2016 
    


//block content
    .container(ng-controller="BookstoreCtrl")
        section.books
            article(ng-repeat="book in books")
                h2 Title: {{book.title}}
                h2 Price: {{book.price}}
                p published on {{book.date}}
                hr
            hr
            a(href='admin') Admin Page  
    script(src='/javascripts/bookstore.js')
    
doctype html 
extends layout
block content
    .container(ng-controller="SignUpController")
        section.user
            table(ng-repeat="usr in user")
                tr 
                    td Full Name:
                    td {{usr.fullname}}
                tr 
                    td Email:
                    td {{usr.email}}
                tr 
                    td Address:
                    td {{usr.address}}
                tr 
                    td City:
                    td {{usr.city}}                
            hr
            a(href='signup') Signup Page  
    script(src='/javascripts/signup.js')
//html
    head  
        title signup confirmation
        link(rel='stylesheet', href='/stylesheets/style.css')  
        script(type='text/javascript' src='signup.js')
        script(type='text/javascript').
            window.onload = function () {
                showCustomers(getCustomers()[0]);
            };
    body
        h2 Thank you for signing up for our service!
        br
        hr
        br
        section
            table( id='customer' border='1.5')
                thead
                    tr
                        th Email
                        th Full Name
                        th Address
                        th City
                        th State
                        th Country
                        th Zip Code
                        th Phone Number
                tbody
                    tr