doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            h1= title
            hr
        section
            table
                thead
                    tr
                        th Item Name
                        th Quantity
                tbody
                    each item in cart
                        tr
                            td #{item.itemname}
                            td #{item.quantity}