//- 
    Student Info: Name=Sujita Pokharel, ID=14105
    Subject: CS557A_HW5_Spring_2016_Quiz03
    Author: Suju
    Filename: firstname.jade
    Date and Time: Mar 26, 2016 9:18:42 PM 
    Project Name: CS557AQuiz3_14105 
     

doctype html 
html  
    head    
        title= title    
        link(rel='stylesheet', href='/stylesheets/style.css')  
    body    
        h1= title    
        hr    
        form(method='post', action='/')      
            label First Name      
            br      
            input(type='text', name='itemname')      
            br                  
            br      
            input(type='submit', value='next')        
        hr
        